<h1>About</h1>

<p>
This is a bunch of nonsense that I'm typing as I listen to a tutorial about making a Rails app in one month by a guy who wants everyone to make a page that advertises his site about making a site using Rails in one month. His HTML is not very good.	
</p>
<p>
<%= link_to "This is me trying to make a link using Ruby syntax instead of html tags", "https://github.com/mle626/kittens" %></p>
<p>
<%= link_to "This is a sample application", "https://github.com/mle626/kittens" %>
</p>


