$baseFontFamily: Oxygen;
@import url(http://fonts.googleapis.com/css?family=Oxygen);

$btn-primary-bg: blue;
$navbar-default-bg: #FFF;

@import 'bootstrap';

body {
	padding-top: 60px;
}

.navbar-default {
  border-color: #FFF; 
}

.footer {
	margin-top: 50px;
	color: #999;
	a {
		color: $gray;
	}
}

.form-horizontal .form-group {
	margin-left: 0px;
	margin-right: 0px;
}